# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\matsf\Documents\School\School_Shared\OneDrive\Schakeljaar\Sem2\Gegevensstructuren en algoritmen\Samenvattingen\programmeeroefeningen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
